#section3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 7000;
    padding: 1.5% 4%;
    // display: none;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../img/site임시1.png);
        background-size: 100% 100%;
    }
    .section3Wrap {
        width: 100%;
        height: 100%;
        border: 1px solid snow;
        display: grid;
        grid-template-areas:
            "header siteview"
            "siteNav siteview"
            "studyDesc sourceView";
        grid-template-columns: 48% 52%;
        grid-template-rows: 18% 32% 50%;
        position: relative;
        > .bdcir {
            z-index: 7000;
            &:nth-of-type(2) {
                left: auto;
                right: -2px;
            }
            &:nth-of-type(3) {
                top: auto;
                bottom: -2px;
            }
            &:nth-of-type(4) {
                left: auto;
                bottom: -2px;
                right: -2px;
                top: auto;
            }
        }
        .siteHeader {
            grid-area: header;
            padding: 2%;
            padding-bottom: 0;
            padding-right: 1%;
            display: flex;
            width: 100%;
            height: 100%;
            position: relative;
            > div {
                &:nth-of-type(1) {
                    width: 35%;
                    height: 100%;
                    h2 {
                        color: var(--font-color5);
                        font-size: 1.5vw;
                        text-shadow: 0px 0px 3px var(--font-color5);
                        margin-top: 1%;
                    }
                    h3 {
                        font-size: 1vw;
                        color: var(--font-color5);
                        em {
                            color: var(--font-color2);
                            text-shadow: 0px 0px 3px var(--font-color2);
                        }
                    }
                }
                &:nth-of-type(2) {
                    width: 32%;
                    height: 100%;
                }
                &:nth-of-type(3) {
                    width: 10%;
                    height: 100%;
                }
                &:nth-of-type(4) {
                    width: 23%;
                }
            }
        }
        .siteNav {
            grid-area: siteNav;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            padding: 2%;
            padding-bottom: 0;
            padding-right: 1%;
            .site__wrap {
                width: 33%;
                padding: 0 1.2%;
                h2 {
                    width: 100%;
                    text-align: center;
                    font-size: 1.5vw;
                    margin-bottom: 8%;
                }
                .siteList__Main {
                    width: 100%;
                    li {
                        display: block;
                        text-align: center;
                        padding: 8px 2px;
                        margin: 0 auto;
                        border-left: 3px solid #abded5;
                        border-right: 3px solid #abded5;
                        margin-top: 5%;
                        color: #abded573;
                        letter-spacing: 0.1rem;
                        font-size: 1vw;
                        text-transform: uppercase;
                        font-family: var(--font-main6);

                        &:hover,
                        &.active {
                            color: var(--font-color4);
                            transition: all 0.2s ease;
                        }
                        &.active {
                            text-shadow: 0px 0px 3px var(--font-color5);
                            border-left: 4px solid var(--font-color4);
                            border-right: 4px solid var(--font-color4);
                        }
                        &:nth-of-type(1) {
                            margin-top: 10px;
                        }
                        &:nth-of-type(2) {
                            animation-delay: $Alldelay + 0.3s;
                        }
                        &:nth-of-type(3) {
                            animation-delay: $Alldelay + 0.6s;
                        }
                        &:nth-of-type(4) {
                            animation-delay: $Alldelay + 0.9s;
                        }
                    }
                }
            }
            .siteList__Sub {
                width: 65%;
                height: 100%;
                position: relative;
                > div {
                    &:nth-of-type(1) {
                        @include bordertop;
                        @include borderleft;
                        border-color: var(--font-color4);
                        border-width: 4px;
                        border-radius: 1px;
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        top: 0;
                        left: 0;
                    }
                    &:nth-of-type(2) {
                        @include bordertop;
                        @include borderright;
                        border-color: var(--font-color4);
                        border-width: 4px;
                        border-radius: 1px;
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        top: 0;
                        right: 0;
                    }
                    &:nth-of-type(3) {
                        @include borderbottom;
                        @include borderleft;
                        border-color: var(--font-color4);
                        border-width: 4px;
                        border-radius: 1px;
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        bottom: 0;
                        left: 0;
                    }
                    &:nth-of-type(4) {
                        @include borderbottom;
                        @include borderright;
                        border-color: var(--font-color4);
                        border-width: 4px;
                        border-radius: 1px;
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        bottom: 0;
                        right: 0;
                    }
                    &.siteList__SubDesc {
                        padding: 5%;
                    }
                }
            }
        }
        .siteView {
            grid-area: siteview;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            padding: 2%;
            padding-bottom: 0;
            padding-right: 9%;
            > div {
                width: 100%;
                &:nth-of-type(1) {
                    display: flex;
                    justify-content: space-between;
                    height: 5%;
                    background: red;
                    p {
                        width: fit-content;
                    }
                }
                &:nth-of-type(2) {
                    display: flex;
                    justify-content: space-between;
                    height: 70%;
                    background: pink;
                    > div {
                        &:nth-of-type(1) {
                        }
                        &.siteViewBox {
                        }
                        &:nth-of-type(3) {
                        }
                    }
                }
                &:nth-of-type(3) {
                    height: 5%;
                    background: yellow;
                }
                &:nth-of-type(4) {
                    height: 20%;
                    background: darkgreen;
                }
            }
        }
        .studyDesc {
            grid-area: studyDesc;
            background: #b68383;
        }
        .sourceView {
            grid-area: sourceView;
            background: #8c8c8c;
        }
    }
}
